<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div>
      <a routerLink="/home" class="fs-4 mx-3 text-dark text-decoration-none fw-bolder home-link">Home</a>
      <a routerLink="/employee" class="fs-4 mx-3 text-dark text-decoration-none fw-bolder home-link">Employees</a>
      <a routerLink="/about-us" class="fs-4 mx-3 text-dark text-decoration-none fw-bolder home-link">About Us</a>
      <a routerLink="/contact-us" class="fs-4 mx-3 text-dark text-decoration-none fw-bolder home-link">Contact-Us</a>
    </div>
  </nav>
  
  
  <router-outlet></router-outlet>
<!-- <app-employee-dashboard></app-employee-dashboard> -->
